<div class="hero" style="background-image:url(../images/hero.coffee.jpg);">
    <nav class="hero-nav">
        <h2 class="logo">UNICON- for owner</h2>
        <ul>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">ADD PRODUCT</a></li>
            <li><a href="/cat">CATEGORIES</a></li>
            <li><a href="/cat/new">ADD CATEGORY</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 class="title">Christmas at Unicon Coffee</h1>
        <p class="description">We have a wide range of coffee and pastries to suit the coffee lover in your life.</p>
    </div>
</div>